<template>
  <q-page padding>
    <div class="row q-col-gutter-md">
      <div class="col-xs-12 text-bold text-center q-pt-md text-h6">
        Calculadora
      </div>
      <div class="col-xs-12">
        <q-form @submit="calculate()">
          <div class="row q-col-gutter-md">
            <div class="col-xs-6">
              <q-input
                v-model="form.precioDocena"
                label="Precio por docena"
                type="number"
                :rules="[(val) => !!val || 'Campo obligatorio']"
                step=".01"
              ></q-input>
            </div>
            <div class="col-xs-6">
              <q-input
                v-model="form.cambio"
                label="Cambio"
                type="number"
                :rules="[(val) => !!val || 'Campo obligatorio']"
                step=".01"
              ></q-input>
            </div>
            <div class="col-xs-12">
              <q-btn
                label="Calcular"
                class="full-width"
                rounded
                color="primary"
                type="submit"
              ></q-btn>
            </div>
          </div>
        </q-form>
      </div>
      <div class="col-xs-12">
        <span class="text-bold text-h6">Datos</span>
        <q-list bordered separator>
          <q-item clickable v-ripple>
            <q-item-section>
              <q-item-label class="text-bold">Precio por docena</q-item-label>
              <q-item-label>{{ result.precioDocena }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple>
            <q-item-section>
              <q-item-label class="text-bold">Cambio</q-item-label>
              <q-item-label>{{ result.cambio }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
      <div class="col-xs-12">
        <span class="text-bold text-h6">Precios</span>
        <q-list bordered separator>
          <q-item clickable v-ripple>
            <q-item-section>
              <q-item-label class="text-bold"
                >Precio por docena (Bs)</q-item-label
              >
              <q-item-label>{{ result.precioDocenaBolivianos }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple>
            <q-item-section>
              <q-item-label class="text-bold"
                >Precio por unidad (Bs)</q-item-label
              >
              <q-item-label>{{ result.precioUnidadBolivianos }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple>
            <q-item-section>
              <q-item-label class="text-bold"
                >Precio por unidad (Cambio)</q-item-label
              >
              <q-item-label>{{ result.precioUnidad }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';

// Types
type Form = {
  cambio?: number;
  precioDocena?: number;
};

type Result = {
  precioDocena?: number;
  cambio?: number;
  precioDocenaBolivianos?: number;
  precioUnidadBolivianos?: number;
  precioUnidad?: number;
};

// Variables
const form = ref<Form>({
  cambio: undefined,
});
const result = ref<Result>({
  precioDocena: 0,
  cambio: 0,
  precioDocenaBolivianos: 0,
  precioUnidadBolivianos: 0,
  precioUnidad: 0,
});

// Functions
const calculate = () => {
  result.value.cambio = form.value.cambio;
  result.value.precioDocena = form.value.precioDocena;
  result.value.precioDocenaBolivianos =
    (form.value.precioDocena || 0) * (form.value.cambio || 0);
  result.value.precioUnidad = (form.value.precioDocena || 0) / 12;
  result.value.precioUnidadBolivianos =
    result.value.precioDocenaBolivianos / 12;
};
</script>
